body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(221, 221, 221);
    border-top: 5px solid rgb(80, 80, 80);
}

.main-content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.main-content>h1 {
    font-size: 2em;
}

.main-content>h2 {
    border-top: 1px solid black;
    padding-top: 16px;
}

.groupe-de-texte {
    border-left: 4px solid rgb(143, 163, 140);
}

.pdf-container {
    padding: 30px;
}

.page-header {
    background-color: rgba(145, 145, 145, 0.164);
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.page-header>ul {
list-style-type: none;
padding: 0;
text-align: center;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.page-header>ul>li {
    display: inline-block;
    padding: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.page-header>ul>li>a {
    padding: 4px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    border-radius: 5%;
    background-color: rgb(207, 157, 167);
    
}

.page-header>ul>li>a:hover {
    background-color: rgb(134, 134, 134);
    color: rgb(255, 255, 255);
}

.hovered-menuitem {
    padding: 4px;
    border: 1px solid black;
    text-decoration: none;
    color: rgb(172, 172, 172);
    transition: 0.5s;
    border-radius: 5%;
    background-color: rgb(63, 63, 63);
}


.shape-prefooter {
    margin-top: 3em;
    width: 1em;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    box-shadow: -2em 0.5em rgb(73, 73, 73), 2em 0.5em rgb(73, 73, 73), 0 1em;
}

.page-footer {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: center;
    border-bottom: 5px solid rgb(80, 80, 80);
}