body {
    background-color: rgb(39, 38, 51);
}

#greeting {
    font-size: 100px;
    margin: 0px;
    text-align: center;
    color: rgb(169, 230, 230);
    font-family: "greeting";
    text-shadow: 2px 2px 4px rgb(134, 2, 24);
}


#clock {
    font-size: 100px;
    text-align: center;
    color: rgb(169, 230, 230);
    font-family: "digital-clock-font";
    font: bold;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('DS-DIGIT.TTF');
}

@font-face {
    font-family: "greeting";
    src: url("Paloseco-Medium.ttf");
}