<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href=" {{ '/css/design.css' | url }}">
    </head>
    <body>
        <header class="page-header">
            <ul>
                {% for entry in collections.all | eleventyNavigation %}
                    <li>
                        {% if page.url == entry.url %}
                            <div class="hovered-menuitem">{{entry.title}}</div>
                        {% else %}
                            <a href="{{entry.url | url }}">{{entry.title}}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </header>
        {{ content | safe }}
        <div class="shape-prefooter"></div>
        <footer class="page-footer">
            <p>2020</p>
            <p>Site développé par moi-même</p>
        </footer>
    </body>

</html>