---
title: Qui suis-je ?
layout: layout.njk
---
<h1>Informations personnelles</h1>
<p>Je suis un étudiant en 2ème année à l'ENSEEIHT en sciences du numérique.</p>
<h2>Etudes</h2>
<h2>Passions</h2>
<div class="groupe-de-texte">
    <ul>
        <li>La programmation</li>
        <li>Les jeux vidéos</li>
        <li>La lecture</li>
    </ul>
</div>