---
title: PPP
layout: layout.njk
---
<h1>Professional and personal project</h1>
<h2>Documents</h2>

<div class="groupe-de-texte">
    <ul>
        <li>
            <a href="">Resume (PDF)</a>
        </li>
        <li>
            <a href="">Presentation media</a>
        </li>
        <li>
            <a href="">Cover Letter</a>
        </li>
        <li>
            <a href="">Complete archive</a>
        </li>
    </ul>
</div>