---
title: SHS
layout: layout.njk
eleventyNavigation:
    key: SHS
    title: SHS
    order: 2
---
<article class="main-content">
    <h1>Professional and personal project</h1>
    <h2>Documents</h2>

    <div class="groupe-de-texte">
        <ul>
            <li>
                <a href="../files/CV.pdf" target="_blank">Resume</a>
            </li>
            <li>
                <a href="">Presentation media</a>
            </li>
            <li>
                <a href="">Cover Letter</a>
            </li>
            <li>
                <a href="">Complete archive</a>
            </li>
        </ul>
    </div>
</article>